<!DOCTYPE html>
<html>
<head>
  <title>Kevin Nall's Portfolio and Blog </title>

  <ul class="nav nav-pills">
  		<li class="active"><%= link_to 'Homepage', homepage_index_path%></li>
  		<li><%= link_to 'About Me', homepage_about_me_path%></li>
  		<li><%= link_to 'Contact Me', homepage_contact_me_path%></li>
  </ul>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


</head>
<body>


<%= yield %>

</body>
</html>
